@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');

 *{
    margin:0;
    padding:0;
    max-width: 100%;
    box-sizing: border-box;

}


 body{
        background-color: hsl(0, 0%, 95%);
        width: auto;

    }


.container{
    width: 80%;
    padding: 4em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.items{
    width: 29%;
    padding: 3em 1em 1.5em 3em;
    margin: 0;
    justify-content: center;
    align-items: center;
    
    

}
svg{
    margin-bottom: 2em;
}

.items h2{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
    font-size: 2rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /* margin-left: 1em; */
}

.items p{
    color: hsl(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca';
    font-weight: bold;
    margin-top: 0.5em;
    /* margin-left: 2em; */
    margin-right: 1em;
    font-size: 0.81em;
    line-height: 1.9;
    letter-spacing: 0.1em;
}

.item1{
    background-color:  hsl(31, 77%, 52%);
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.item2{
    background-color: hsl(184, 100%, 22%);
}

.item3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

button{
    width: 55%;
    height: 3em;
    border: 1px transparent;
    border-radius: 1.5em;
    margin: 5em 1em 1.5em 0em;
    font-size: 0.8em;
    
}

.btn-1{
    color: hsl(31, 77%, 52%) ;
    font-family: 'lexend deca';
    /* font-size: 1rem; */
    font-weight: bold;
    

}
.btn-2{
    color:  hsl(184, 100%, 22%);
    font-family: 'lexend deca';
    /* font-size: 1rem; */
    font-weight: bold;
}
.btn-3{
    color: hsl(179, 100%, 13%);
    font-family: 'lexend deca';
    /* font-size: 1rem; */
    font-weight: bold;
}
button:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;

}
 